.odd{
    background-color:rgb(255, 162, 185);
    font-family:"Verdana", "DejaVu Sans", sans-serif;
}
#elem2 {
    color: blue;
    font-size: 36px;
}

.odd.elem3 {
    font-size: 24px;

}

#elem4 {
    background-color:rgb(144, 238, 144);
    font-size: 24px;
    font-weight: 700;
}